{% extends 'core/base.html' %}

{% block body %}
<ul>   
    <li>{{ object.nombre }}</li>
    <li>{{ object.descripcion }}</li>
    <li>{{ object.precio }}</li>
    <li>{{ object.cantidad }}</li>
</ul> 
<h1>Agregar Ingredientes a {{ producto_base.nombre }}</h1>
    
    <form action="{% url 'producto:crear_producto_ingrediente' producto_base.id %}" method="post">
        {% csrf_token %}
        
        <h2>Selecciona los ingredientes adicionales:</h2>
        
        {% for ingrediente in ingredientes_disponibles %}
            <input type="checkbox" name="ingredientes" value="{{ ingrediente.id }}"> {{ ingrediente.nombre }} <br>
        {% endfor %}
  
        <br>
        <button type="submit">Agregar Ingredientes</button>
    </form>

{% include 'venta/carrito.html' %} 
{% endblock body %}
